
*{
	background-color:green;
}
#so,.b{
	border: 5px solid red;
}
h1, h2:hover{
	background-color: yellow;
  font-size: 60px;
}
*::first-letter{
	font-size: 200%;
}
.b4{
	height:200px;
	background-color:#d1d8d9;
}